/* General Styles */
html * {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
}
body {
    padding-top: 50px;
    font: "Open Sans" 300;
    /* background-color: #f5f5f5; */
}
i {
  color: #cccccc;
  font-size: 16pt;
}

/* HELPER CLASSES */
.align-vertical {
    top: 50%;
    transfrom: translateY(-50%);
    -webkit-transfrom: translateY(-50%);
}
.align-horizontal {
    left: 50%;
    transfrom: translateX(-50%);
    -webkit-transfrom: translateX(-50%);
}
.spacer-large {
    display: block;
    height: 100px;
    width: 100%;
}
.spacer {
    display: block;
    height: 25px;
    width: 100%;
}
@media (max-width: 767px) {
    .spacer-large {
        height: 75px;
    }
    .spacer {
        height: 20px;
    }
}
@media (max-width: 359px) {
    .spacer-large {
        height: 50px;
    }
    .spacer {
        height: 10px;
    }
}

/* NAVBAR */
.navbar-center {
  /*margin: 0 calc(50% - 200px);*/
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}
nav.navbar {
  border-top: 5px solid #d16475;
  padding-top: 5px;
  background-color: #2e3143;
  box-shadow: 0 0 10px #000000;
}
a[role="button"] {
    text-decoration: none;
}
#output-article {
  padding-left: 15px;
  color: #cccccc;
  font-size: 14pt;
}
.navbar-brand span {
  color: #cccccc;
  font-size: 20pt;
}
.navbar-brand span.brand-p1 {
  font-weight: 200;
}
.navbar-brand span.brand-p2 {
  font-weight: 800;
}
.navbar-nav i {
  font-size: 20pt;
}
.navbar-toggle {
  background-color: transparent !important;
}
.navbar-toggle span.icon-bar {
  background-color: #cccccc;
}
@media (max-width: 767px) {
  .navbar-collapse ul {
    float: none !important;
    text-align: center;
  }
  .navbar-collapse ul li span {
    display: inline;
  }
}

/* INFOBAR */
#infobar {
    background-color: rgba(63, 70, 96, 0.8);
    top: 68px;
    position: absolute;
    z-index: 1;
    width: 100%;
    color: #cccccc;
    font-size: 14pt;
}

#panel-setting {
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.5);
}
#panel-data {
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
}
#map {
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    padding: 0px;
    position: absolute;
    z-index: 0;
}
#timeslider {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    bottom: 0;
}
#slider {
  margin: 10px;
}

/* Time Slider Pane */
.scroll-pane { overflow: auto; width: 99%; float:left; }
.scroll-content { width: 2440px; float: left; }
.scroll-content-item { width: 100px; height: 100px; float: left; margin: 10px; font-size: 3em; line-height: 96px; text-align: center; }
.scroll-bar-wrap { clear: left; padding: 0 4px 0 2px; margin: 0 -1px -1px -1px; }
.scroll-bar-wrap .ui-slider { background: none; border:0; height: 2em; margin: 0 auto;  }
.scroll-bar-wrap .ui-handle-helper-parent { position: relative; width: 100%; height: 100%; margin: 0 auto; }
.scroll-bar-wrap .ui-slider-handle { top:.2em; height: 1.5em; }
.scroll-bar-wrap .ui-slider-handle .ui-icon { margin: -8px auto 0; position: relative; top: 50%; }
